{% extends "base.html" %}

{% block content %}
    <h1>Welcome to Kurt's Events Planner</h1>
    <div id="who_we_are">
        <img src="https://source.unsplash.com/250x300/?celebrate"/>
        <div class="text_panel">
            <h3>Who we are...</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi neque nunc, ornare sit amet ligula sit amet, ultrices consectetur quam. Phasellus vehicula ante quis justo aliquet, et convallis neque condimentum. Sed porta vel turpis ut ullamcorper. Praesent consectetur turpis eros, id placerat nulla semper ac. Nunc venenatis nulla non ultrices luctus. Suspendisse bibendum egestas suscipit. Suspendisse ac mi vel justo pulvinar hendrerit a quis tellus. Vivamus quis risus egestas purus laoreet feugiat non ac felis. Sed ex nibh, maximus in facilisis ut, suscipit sit amet lacus. Morbi ut velit purus. Etiam pretium volutpat pharetra.</p>
        </div>
    </div>
    </div>
    <div id="what_we_do">
        <div class="text_panel">
            <h3>What we do...</h3>
            <p>Quisque quis justo eu ipsum suscipit posuere. Ut magna tellus, ullamcorper dignissim velit sit amet, fermentum fermentum diam. In in quam eleifend, feugiat nisl at, sodales libero. Curabitur ac urna nec magna sagittis blandit ac nec risus. Vivamus eu erat nec turpis porta placerat. Sed facilisis vehicula pulvinar. Donec placerat lobortis justo, a hendrerit nibh. Sed et diam in ex posuere fermentum sit amet sed ante. Praesent nec volutpat risus.</p>
        </div>
         <img src="https://source.unsplash.com/250x300/?party"/>
    </div>

{% endblock %}